<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @room.property.property_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Amenities:</strong>
  <%= @room.amenities %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
